.hero {
  height: 500px;
  background-image: url(https://cdn.proflowers.ua/upload/images/product/547_0.jpg);
  background-size: cover;
}

.hero-title {
  padding-top: 100px;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}
